<h1 class="mb-5">Edit user</h1>


<div 
class="form-check mb-3">
  <input class="form-check-input" 
  type="checkbox" [(ngModel)]="editIsDisable"
  id="exampleCheck1"
  >
    <label 
    class="form-check-label"
    for="defaultCheck1"
    >
    Editable?
    </label>
</div>

<input   
[(ngModel)]="user.id" 
disabled
type="text" 
class="form-control form-control mb-2" 
placeholder="id"
>

<input  
[(ngModel)]="user.lastName" 
[disabled]="editIsDisable"
 type="text" 
class="form-control form-control mb-2" 
placeholder="lastName"
>

<input  
[(ngModel)]="user.firstName" 
[disabled]="editIsDisable" 
type="text" 
class="form-control form-control mb-2" 
placeholder="firstName"
>

<input   
[(ngModel)]="user.age" 
[disabled]="editIsDisable"
type="text" 
class="form-control form-control mb-2" 
placeholder="age"
>

<input   
[(ngModel)]="user.gender" 
[disabled]="editIsDisable"
 type="text"
 class="form-control form-control mb-2" 
placeholder="gender"
>

<input 
[(ngModel)]="user.email" 
[disabled]="editIsDisable"
 type="text" 
class="form-control form-control mb-2" 
placeholder="email"
>

<input 
[(ngModel)]="user.phone" 
[disabled]="editIsDisable"
type="text" 
class="form-control form-control mb-2" 
placeholder="phone"
>

<input 
[(ngModel)]="user.username" 
[disabled]="editIsDisable"
type="text" 
class="form-control form-control mb-2" 
placeholder="username"
>

<input 
[(ngModel)]="user.password" 
[disabled]="editIsDisable"
type="text" 
class="form-control form-control mb-2" 
placeholder="password"
>

<input 
[(ngModel)]="user.birthDate" 
[disabled]="editIsDisable"
type="text" 
class="form-control form-control mb-2" 
placeholder="birthDate"
>

<input 
[(ngModel)]="user.image" 
[disabled]="editIsDisable"
 type="text"
 class="form-control form-control mb-2" 
placeholder="image"
>

<button 
(click)="updateUser()"
class="btn btn-sm btn-warning mr-2"
[disabled]="editIsDisable"
>
   Update it
</button>
