h1{
    color: seagreen;
    border-bottom: 1px solid seagreen;
}

.user-Image{
    width: 40px;
    border: 1px solid hsl(0, 0%, 53%);
    border-radius: 40px;
    transform: scale(-1);
}

th, td{
    vertical-align: center;
}